<div class="alert alert-light border-start border-5">
  <p><%= @question %></p>
  <p>-You</p>
</div>

<div class="alert alert-warning border-start border-5">
  <p><%= @answer %></p>
  <p>-Your coach</p>
</div>

<div class="link"><%= link_to "Ask a new question", ask_path %></div>
